@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 700;
  src: url(/fonts/Montserrat-Bold.ttf);
}

:root {
  --accent-color: rgb(197, 52, 98);
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

* {
  box-sizing: border-box;
}
